<section>
    <p>Register an Employee</p>

    <form [formGroup]="registerForm" (ngSubmit)="saveEmployee()">
        <div class="container">
            <!-- First Name -->
            <div class="inputBox">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" formControlName="firstName">
            </div>

            <!-- First Name -->
            <div class="inputBox">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" formControlName="lastName">
            </div>

            <!-- Department -->
            <div class="inputBox">
                <label for="departmentSelect">Department:</label>
                <select id="departmentSelect" name="department" formControlName="department">
                    <option value="">Select a department</option>
                    <option value="humanResources">Human Resources</option>
                    <option value="finances">Finances</option>
                    <option value="marketing">Marketing</option>
                    <option value="production">Production</option>
                </select>
            </div>
        </div>

        <div class="container">
            <div class="inputBox">
                <label for="email">Email:</label>
                <input type="email" id="email" formControlName="email">
            </div>

            <div class="inputBox">
                <label for="genderSelect">Gender:</label>
                <select id="genderSelect" name="gender" formControlName="gender">
                    <option value="">Select an Option</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
</section>


