<section>
    <p>Register an Employee</p>

    <form>
        <div class="container">
            <!-- First Name -->
            <div class="inputBox">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName">
            </div>

            <!-- First Name -->
            <div class="inputBox">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName">
            </div>

            <!-- Department -->
            <div class="inputBox">
                <label for="departmentSelect">Department:</label>
                <select name="department" id="departmentSelect">
                    <option value="">Select a department</option>
                    <option value="humanResources">Human Resources</option>
                    <option value="finances">Finances</option>
                    <option value="marketing">Marketing</option>
                    <option value="production">Production</option>
                </select>
            </div>
        </div>

        <div class="container">
            <div class="inputBox">
                <label for="email">Email:</label>
                <input type="email" id="email">
            </div>

            <div class="inputBox">
                <label for="genderSelect">Gender:</label>
                <select name="gender" id="genderSelect">
                    <option value="">Select an Option</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
            </div>
        </div>

        <button type="button">Search</button>
    </form>
</section>