header {
    background-color: #595F39;
    color: white;

    padding: 1.4rem;



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
}

p {
    font-size: 2rem;
}