<section>
    <p>Search for an Employee</p>

    <form>

        
        <!-- search for name -->
        <div class="inputBox">
            <label for="employeeName">Name:</label>
            <input type="text" id="employeeName">
        </div>

        <!-- Search by selecting a department -->
        <div class="inputBox">
            <label for="departmentSelect">Department:</label>
            <select name="department" id="departmentSelect">
                <option value="">Select a department</option>
                <option value="humanResources">Human Resources</option>
                <option value="finances">Finances</option>
                <option value="marketing">Marketing</option>
                <option value="production">Production</option>
            </select>
        </div>

        <button type="button">Search</button>
    </form>
</section>
